@import url('https://rsms.me/inter/inter.css');
html {
  font-family: 'Inter', sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  font-size: 16px;
}

#root {
  height: 100vh;
}

/* #detailed { */
#map_area {
  width: 60%;
  height: 100vh;
  display: inline-block;
}

#full_map {
  width: 60%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

#summary_border {
  width: 20vw;
  height: 25vh;
  position: absolute;
  top: calc(75vh - 20px);
  left: 13px;
  border: 2px solid purple;
  z-index: 10000;
}

#summary_map {
  width: 20vw;
  height: 25vh;
  position: absolute;
  top: calc(75vh - 18px);
  left: 15px;
}

#summary_area {
  width: 40%;
  height: 100vh;
  display: inline-block;
  /* overflow-y: scroll; */
}

#elevation_chart {
  width: 100%;
  height: 20vh;
  background-color: gainsboro;
}

#summary_stats {
  width: 100%;
  height: 11rem;
  background-color: darkblue;
  flex: 1;
}

#monitor {
  overflow-y: scroll;
  overflow-anchor: none;
  height: calc(80vh - 11rem);
}

.summary_row {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  flex-grow: 0;
  -webkit-flex-grow: 0;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  width: 100%;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  background: darkblue;
  color: whitesmoke;
}

.summary_title {
  font-size: 1.5em;
  font-weight: 700;
  text-align: center;
  color: white;
  margin: 0;
  padding-top: 0.25em;
  padding-left: 0.25em;
  padding-right: 0.25em;
}

.sponsor_details {
  font-size: 1em;
  color: white;
  text-align: center;
  margin: 0;
  padding-top: 0.25em;
  padding-bottom: 0.5em;
}

.sponsor_details a {
  color: white;
  cursor: pointer;
}

.md_summary {
  font-size: 1.2em;
  font-weight: 700;
  flex-grow: 1;
  -webkit-flex-grow: 1;
  text-align: left;
  width: 100px;
  padding-left: 0.5em;
}

.lg_summary {
  font-size: 1.2em;
  font-weight: 700;
  flex-grow: 1;
  -webkit-flex-grow: 1;
  text-align: right;
  width: 100px;
  padding-right: 0.5em;
}

.table_row.header {
  font-weight: bold;
  background-color: #cc00ff;
}

.table_row {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  flex-grow: 0;
  -webkit-flex-grow: 0;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  width: 100%;
  background-color: #0044ee;
  color: whitesmoke;
  padding-top: 2px;
  padding-bottom: 2px;
}

.table_row.active {
  background-color: green;
}

.table_row.inactive {
  background-color: red;
}

.locn_desc {
  flex-grow: 1;
  -webkit-flex-grow: 1;
  padding-left: 1em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  text-align: left;
  width: 100px;
}

.locn_dist {
  flex-grow: 1;
  -webkit-flex-grow: 1;
  padding-right: 1em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  text-align: center;
  width: 50px;
}

.locn_rem {
  flex-grow: 1;
  -webkit-flex-grow: 1;
  padding-right: 1em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  text-align: right;
  width: 50px;
}

.locn_time {
  flex-grow: 1;
  -webkit-flex-grow: 1;
  padding-right: 1em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  text-align: center;
  width: 50px;
}

.big_button {
  font-size: 1.25em;
  font-weight: 700;
  font-family: 'Inter', sans-serif;
  padding: 0.25em 0.5em 0.25em 0.5em;
  color: whitesmoke;
  background-color: royalblue;
  border: 3px solid whitesmoke;
  flex-grow: 1;
  -webkit-flex-grow: 1;
  width: 33.3%;
}

.speed_title {
  background: darkblue;
  color: whitesmoke;
  font-size: 2em;
  font-weight: 700;
  display: inline-block;
}

.speed_input {
  font-family: 'Inter', sans-serif;
  background: darkblue;
  color: whitesmoke;
  font-size: 2em;
  font-weight: 700;
  width: 100px;
  text-align: right;
  border: none;
  padding-right: 0.5em;
}

.leaflet-control-zoom {
  position: absolute;
  top: calc(100vh - 100px);
  left: calc(60vw - 60px);
}

.picture_marker {
  z-index: 15000;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }

  #container {
    height: 100%;
    width: 100%;
  }

  #map_area {
    width: 100%;
    height: 55vh;
    display: block;
  }

  #full_map {
    width: 100%;
    height: 55vh;
  }

  #summary_border {
    width: 20vh;
    height: 15vh;
    top: 37vh;
    left: calc(52% - 2px);
  }

  #summary_map {
    width: 20vh;
    height: 15vh;
    top: calc(37vh + 2px);
    left: 52%;
  }

  #summary_area {
    width: 100%;
    height: 45vh;
  }

  #summary_stats {
    width: 100%;
    height: 9rem;
  }

  #monitor {
    width: 100%;
    height: calc((45vh - 9rem) / 2);
  }

  #elevation_chart {
    width: 100%;
    height: calc((45vh - 9rem) / 2);
  }

  .close_photo img {
    position: absolute;
    z-index: 20000;
    border: 2px solid purple;
    width: 20vh !important;
    height: 15vh !important;
    left: 2%;
    top: 37vh !important;
  }

  .close_photo span {
    position: absolute;
    z-index: 20000;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 0.9em;
    background-color: rgba(245, 245, 245, 0.85);
    padding: 3px 7px;
    left: 2%;
    top: calc(37vh - 2em) !important;
  }

  .summary_title {
    font-size: 1.5em;
  }

  .md_summary,
  .lg_summary {
    font-size: 1.1em;
  }

  .popup_photo {
    display: none;
  }

  .popup_icon {
    margin-top: 5px;
    margin-right: 5px;
  }

  .popup_header {
    display: flex;
    align-items: center;
  }

  .leaflet-popup-content {
    margin-left: 5px;
    margin-right: 25px;
    margin-bottom: 2px;
    margin-top: 5px;
  }

  .leaflet-popup-content-wrapper {
    border-radius: 5px;
  }
}

@media only screen and (max-width: 360px) {
  .locn_dist {
    display: none;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1002px) {
  #elevation_chart {
    width: 100%;
    height: 20vh;
    background-color: gainsboro;
  }
  
  #summary_stats {
    width: 100%;
    height: 15rem;
    background-color: darkblue;
    flex: 1;
  }
  
  #monitor {
    overflow-y: scroll;
    overflow-anchor: none;
    height: calc(80vh - 15rem);
  }
}

@media only screen and (min-width: 769px) and (max-width: 980px) {
  .locn_dist {
    display: none;
  }
}

@media only screen and (min-width: 769px) {
  .leaflet-popup-content {
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: -2px;
    margin-top: 10px;
  }

  .leaflet-popup-content-wrapper {
    border-radius: 0;
    width: 404px;
  }

  .leaflet-popup {
    position: relative;
    text-align: center;
  }

  .leaflet-popup-tip-container {
    display: none;
  }

  .close_photo img {
    height: 25vh;
    position: absolute;
    left: 13px;
    z-index: 20000;
    border: 2px solid purple;
    top: 13px;
  }

  .close_photo span.caption {
    position: absolute;
    z-index: 20000;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 0.9em;
    background-color: rgba(245, 245, 245, 0.85);
    padding: 3px 7px;
    left: 13px;
    top: calc(25vh + 17px);
  }

  .popup_icon {
    display: none;
  }
}
